@charset "UTF-8";

div.container_login{
    width: 830px;
    height: 408px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(47, 52, 61, 0.72);
    border: 1px, solid, #A2845E;
}
