@charset "UTF-8";

@font-face {
    font-family: "TwinMarker";
    src: url(../Font/TwinMarker.ttf);
}

:root{


}
*{
    font-family: "TwinMarker";
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../Imagens/plano_de_fundo/Wallpaper_02.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
}