@charset "UTF-8";

@font-face {
    font-family: "TwinMarker";
    src: url(../Font/TwinMarker.ttf);
}

:root{
    --gold_lol: #D9B471;
    --gold-urgot: #8C6249;
}

*{
    font-family: "TwinMarker";
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../Imagens/plano_de_fundo/Wallpaper_02.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
}
a{
    color: var(--gold-urgot);
    text-decoration: none;

}
a:hover{
    color: var(--gold-urgot);
    text-decoration: underline;
}