@charset "UTF-8";

:root{
    --gold_lol: #D9B471;
    --gold-urgot: #8C6249;
    --black-dr: #1D2026;
    --black-dr-lite:#323641;
}
body{
    display: flex;
    background-image: url(../Imagens/plano_de_fundo/Wallpaper_02.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
}
h1{
    text-align: center;
    color: #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    font-size: 50px;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
div.container-to-do{
    background-image: url(../Imagens/image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    width: 400px;
    height: 80%;
    min-height: 484px;
    margin: auto;
    color: white;
    font-weight: 100;
    padding: 50px ;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.input-container{
    margin: auto;
    text-align: center;
}
#input{
    padding: 5px;
    width: 60%;
    background-color: var(--black-dr);
    border: 1px solid var(--gold-urgot);
    -webkit-border: 1px solid var(--gold-urgot);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
}
button{
    cursor: pointer;
}
button#btnAdd{
    background-color: var(--black-dr);
    color: var(--gold-urgot);
    border: 1px solid var(--gold-urgot);
    -webkit-border: 1px solid var(--gold-urgot);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
button#btnAdd:hover{

    background-color: var(--black-dr-lite);
}
button.btnCheck{
    max-height: 25px;
    max-width: 25px;
    min-width: 25px;
    min-height: 25px;
    background-color: var(--black-dr);
    color: var(--gold-urgot);
    border: 1px solid var(--gold-urgot);
    -webkit-border: 1px solid var(--gold-urgot);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
button.btnDelete, .btnEdit{
    width: 50px;
    color: var(--gold-urgot);
    border: none;
    background: none;
}
button.btnDelete i{
    height: 100;
}
.text{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
ul{
    list-style: none;
}
li{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 5px;
    font-size: 40px;
}

